[2020-05-26 19:26] TimWhiting opened #1 "Where is this project at?"
Hi, I'm interested in a tree-sitter dart parser.
Just wondering the status of this?
Does it support the full Dart grammar?
Have you tested it much?
If you need some help, I'd be willing to fork this repository and help work on it.

[2020-07-04 18:59] UserNobody14 commented on #1
Sorry I didn't see this, I've been quite busy at work and at home recently. To answer your questions:
Yes, it supports the full dart grammer as detailed in [the dart lang specification 5th edition draft](https://dart.dev/guides/language/specifications/DartLangSpec-v2.2.pdf), every grammatical feature in that book is supported, as far as I'm aware. I also added a few additions detailed in the [info

[2020-07-04 22:41] TimWhiting commented on #1
Cool, I'd love to help out. I'll take a look at the tests and see if I can add any more tests for edge cases, or find anything that is missing.

Once I get familiar with it, I'd love to help make this compatible with the latest features of dart, such as collection-for and collection-if, and the upcoming changes for non-nullable types.

What is the best way to start understanding the grammar? It lo

[2020-07-05 01:41] TimWhiting commented on #1
As some background, I'm mostly interested in this because there is software for coding by voice (https://serenade.ai/) that I want to use, but they need a tree-sitter parser implementation to enable using Dart in their system. From what they are saying, it would be easiest to add in their software if the parser was similar to the Javascript implementation. Since Dart and Javascript are pretty simi

[2020-07-07 00:01] UserNobody14 commented on #1
Hmm. I actually tried grabbing a fair amount of stuff from the Java parser, and a few things from the typescript parser but I'm not sure exactly how to peel it closer to javascript. I think it might be possible to rename some things to be closer to their javascript equivalents, but whenever things get rewritten (i.e. changes to the organization/semantics) it tends to cause a lot of headaches. I'll

[2020-07-07 00:21] UserNobody14 commented on #1
Yeah, I essentially started with the Java dart grammar and then hacked dart in. As far as I know, collection-for and collection-if are already implemented, as for_element and if_element. There's even a test for them in dart.txt
![image](https://user-images.githubusercontent.com/38988442/86672091-289e5780-bfab-11ea-939c-ee23d13813c9.png)

The first two places I used in building the grammar were the

[2020-07-13 16:28] TimWhiting opened #6 "Global Mutable Variables"
See the global_mutable_variables branch for a test case and an attempted failed fix for this.

The issue is that the parser falls back on statements (because we allow statements at the top level for testing).
Because of that we have a lot of conflicts of various kinds (specifically looking at the _top_level_definition conflicts).
This causes it to think that the following is invalid.

[code]
This

[2020-07-14 21:19] TimWhiting commented on #6
Another option would be to combine the definitions of local_variable_declaration, and the top level variable declarations. You don't capture as much about the restrictions in the global scope, but I'm not sure there are that many restrictions anyways. And it's pretty much impossible to distinguish them in the grammar, unless you know whether you are in the global scope.

[2020-07-14 21:51] TimWhiting commented on #6
Fixed this. Turned out to be an issue with using _type_name rather than _type.

[2020-07-14 21:55] #6 closed

[2020-07-17 19:08] TimWhiting commented on #1
@UserNobody14
I've got it so that on the output of tree-sitter parse for the entire flutter codebase, I only see 0.48% of lines in the tree-sitter output that have "ERROR" in it. I've added some tests for a few of the things that are failing. It seems to be a matter of precedence, because the grammar contains the relevant pieces. When you have a chance, could you take a look? I have a basic unders

[2020-07-20 01:35] UserNobody14 commented on #1
I fixed all but one of the issues. The only items remaining are the 2 type-casting issues (caused by the same problem I believe), which has deeply frustrated my attempts to fix it. I'd go into more detail, but I have a headache from fixing stuff all day. Suffice to say, I think the grammar is either incorrect or wasn't implemented precisely in the actual dart compiler. Either way we may have to de

[2020-07-20 20:11] TimWhiting commented on #1
Cool!
I ran it against the flutter codebase again, and after a few iterations and fixes, and we now have only 0.00615% of lines in the tree-sitter output that have errors in them. (i.e. 421 lines of code, and most of them look like they are the typecasting issue).

[2020-07-22 13:34] shivahnshankar commented on #1
Hi
Would it be possible to include this within Neovim's treesitter functionality? I have opened [https://github.com/nvim-treesitter/nvim-treesitter/issues/213](https://github.com/nvim-treesitter/nvim-treesitter/issues/213) for this fyi. Would hopefully help generate more end user feedback.

[2020-07-22 18:40] TimWhiting commented on #1
@shivahnshankar
Looks like there is quite a bit of progress on the linked issue. Glad it was able to be integrated so quickly. There still needs to be some work on the highlighting side. (We have focused more on correctly parsing the syntax up till now). Feel free to open a pull request if you want to figure out the highlighting. By figuring out highlighting we might also find / fix some other iss

[2020-07-23 04:42] UserNobody14 commented on #1
I fixed the type casting issue! It's getting late, so I didn't test it on the flutter codebase. Might in the morning.

[2020-07-23 05:26] TimWhiting commented on #1
Down to 279 error lines: 0.0040855457%.
Thanks! I'll have to take a look at what you did.
I'm guessing the get / set used as method names, accounts for quite a few errors of whats left.

[2020-07-25 15:56] UserNobody14 opened #7 "Nested Multiline Comments"
While looking into some of the failing tests I discovered a semi-serious issue I don't think this project can solve alone: nested multiline comments.

Essentially, in the official dart specification you are allowed to 'nest' multiline comments so:

[code]

will be correct grammar but:
[code]

This is detailed on page 198 of the dart specification (Official), and on page 221 of the informal spec:

[2020-08-01 11:38] akinsho opened #8 "Hidden/inaccessible nodes"
Hi :wave:,

Thanks for creating this grammar btw :pray: it's been super helpful as a basis for getting some highlighting in nvim-treesitter/nvim-treesitter. Recently I think with a commit aimed at fixing a nested comment issue quite a few nodes were hidden. Specifically `const/var/final` seem to have been hidden so trying to access these in a highlight query no longer works. This means we are unab

[2020-08-06 17:51] akinsho commented on #8
@UserNobody14 any idea why these are now hidden? can I expose them again?

[2020-08-06 18:15] TimWhiting commented on #8
I'm not sure why @UserNobody14 made these hidden. If you want to make a pull request, go ahead and make them visible, and update the tests to make sure that nothing breaks and I'll take a look at it. I think in general we want to make sure the output of tree-sitter parse is readable, and doesn't contain too many unrelated details. However, I think knowing whether something is const / final / var c

[2020-08-06 18:53] theHamsta commented on #8
@akinsho Just for your information: for making the nodes visible you have to remove their leading underscore in grammar.js and run tree-sitter generate

[2020-08-06 19:08] akinsho commented on #8
Thanks @theHamsta that bit's done just seems to break a lot of tests which I'm updating 🤞🏿

[2020-08-06 20:28] akinsho commented on #8
@TimWhiting I've tweaked the grammar to make `const_builtin`, `var_builtin` and `final_builtin` visible but two of the tests keep failing. I think the comments failing relates to why they were hidden in the first place but I have no idea as neither of them use or reference `final` or `const`.

[code]

[2020-08-06 20:45] TimWhiting commented on #8
Don't worry about those, those tests were failing prior to your changes

[2020-08-09 15:29] akinsho opened #11 "Template substitutions without braces have incorrect ranges"
Currently the grammar is able to pick up a template substitution using `"${example}"` syntax however using `"$example"` syntax returns an incorrect range and does not pick up `example` as an identifier.

The tree shows (for the `${}` syntax)
[code]
and for `$value`
[code]

[2020-09-20 20:37] akinsho commented on #8
I *think* i've tackled most of the nodes I was referring to in a few different PRs so will close this #9 #10 (for reference)

[2020-09-20 20:37] #8 closed

[2020-10-15 20:23] GenesisTMS opened #12 "Function body and signature on same level"
Would it make more sense to have tree like this? As `function_body` will never exists without `method_signature` or `function_signature`.

[code]
this:
[code]

It is really just suggestion. I am very new to _tree-sitter-or-language-spec-stuff_.
Thanks

[2020-10-19 16:31] TimWhiting commented on #1
Just found a good reference for the latest dart grammar (an Antler spec that seems to be updated). https://github.com/dart-lang/sdk/blob/master/tools/spec_parser/Dart.g

[2020-11-14 01:18] theniceboy opened #13 "String interpolation not highlighted correctly"
Code like
[code]
Is not highlighted correctly. `value` should be seen as a variable.

[2020-11-14 13:59] akinsho commented on #13
@theniceboy I think this is a duplicate of #11 where I raised a similar issue. I had a look at the code but couldn't figure out how this was happening. @UserNobody14 if you could provide something oversight maybe I could look into it

[2020-11-14 15:12] theniceboy commented on #13
Yeah you’re right it is a dup. Sorry about that!

[2020-11-14 15:12] #13 closed

[2020-11-14 16:31] theHamsta commented on #11
@akinsho the regex for identifier_dollar_escaped looks really suspicious. It works when you just use identifier but this would not consider that you can escape dollar characters.

[code]
I'll experiment a bit with the regex.

[2020-11-14 17:02] theHamsta commented on #11
Found a fix.

This would also work:         `identifier_dollar_escaped: $ => seq(choice(/\$/, /[a-zA-Z_]/), repeat(choice(/\$/, /\w/))),`

[2020-11-14 20:09] #11 closed

[2020-11-20 09:28] theniceboy opened #15 "Comments handled incorrectly"
[code]
The second container will be recognized as a comment which is incorrect.

[2021-02-03 01:47] UserNobody14 commented on #12
Sorry to respond so late, I haven't been logging into my github as often due to work and personal issues. As far as why things are the way they are (and I agree it's a bit of a strange organization) the reason is that the grammar was (originally) written to conform to the dart grammar reference [here](https://spec.dart.dev/DartLangSpecDraft.pdf). As far as your specific item goes, I think they are

[2021-02-03 05:36] GenesisTMS commented on #12
Ah! Got it. Thanks for explanation :)

[2021-02-14 02:04] #12 closed

[2021-05-09 19:50] LordMZTE opened #18 "yield, sync* and async* not being highlighted"
It looks like tree-sitter-dart doesn't highlight the keywords `yield`, `sync*` and `async*` here's some code which showcases all 3 of these and compiles:
[code]
in neovim, using nvim-treesitter, it looks like this:
![image](https://user-images.githubusercontent.com/28735087/117585001-6e1e3a80-b110-11eb-8124-8c692ec9bb0a.png)
as you can see, the before mentioned keywords are white, and not pink lik

[2021-05-14 13:34] TimWhiting commented on #18
Just uploaded a fix, but just to note, I think if you are using neovim, it uses it's own highlight file defined here:
https://github.com/nvim-treesitter/nvim-treesitter/blob/master/queries/dart/highlights.scm

I've gone ahead and copied into here (since I believe their highlighting is better than the current highlighting from just this repositor), and added the fixes.

[2021-05-14 14:07] akinsho commented on #18
I added the `highlights.scm` to nvim treesitter ages ago but it definitely is in need of some updates since I haven't touched it in months and have definitely noted some missing syntax highlighting. @LordMZTE it's probably best to move this to an issue in `nvim-treesitter` or a PR 😄 rather than this repo. Thanks for the updates @TimWhiting 🙌🏾

[2021-05-14 17:21] theHamsta commented on #18
If the highlights file is maintained here it might be worth to add a wget command to the automatic parser update workflow. So it would also update the query file

[2021-05-14 17:25] akinsho commented on #18
@theHamsta when I initially tried using the `highlights` here directly that broke quite a lot in the neovim context. I made some edits to it specifically to improve the highlighting for nvim I don't think the one here is geared specifically for that use case, but I haven't tried it in a while. I'm planning on doing some work to update highlights for dart so could check if it's applicable now but o

[2021-05-14 17:46] TimWhiting commented on #18
@theHamsta
I think it would be best to maintain the highlights file along with the grammar. So please feel free to submit pull requests here to add missing highlighting files, and include it in an automatic parser update workflow. I'm willing to review and merge in changes quickly. I don't actively work on the highlights, but it doesn't make sense to have two diverging highlight implementations, a

[2021-05-14 18:03] akinsho commented on #18
@TimWhiting that's sounds excellent I'm definitely up for that, wasn't sure if you or @UserNobody14 might not be keen. Definitely makes sense to keep things together. As for contributing I work with dart full time using nvim so am pretty invested in making sure it's maintained.

@theHamsta I'm guessing this will preclude the use of any nvim directives though which I think the nvim highlights depen

[2021-05-14 18:10] TimWhiting commented on #18
With an automated script we could probably append / replace any nvim specific directives?

@UserNobody14 can you add @akinsho as a collaborator for help working with the highlights?

[2021-05-14 22:31] theHamsta commented on #18
I'm not sure what is the best solution. The nvim queries for nvim are a bit different from the Atom ones. Until now most maintainers decided to put the nvim queries in the nvim-treesitter repo. I guess the maintainers of their language should decide which fits best for their users.

[2021-05-14 23:03] TimWhiting commented on #18
I think a lot of the queries are shared. I don't see a lot of nvim specific queries in the highlights.scm currently, I could be wrong, since I haven't touched highlights much. Maybe we can have a highlights.scm, and a nvim_highlights.scm, and concatenate them.

[2021-05-15 22:15] akinsho commented on #18
Hmm 🤔 whilst I'd like to have things maintained here if possible I'm beginning to think it's the harder solution.

Looking over `highlights.scm` in `nvim-treesitter` we are dependent on `vim-match` and `match` not sure if `match` is general and only `vim-match` is specific either we need at least the match since it's crucial IMO. Whatever the solution I wouldn't want to restrict the queries being

[2021-05-15 23:12] theHamsta commented on #18
`vim-match?` is currently the same as `match?`. At the moment none of the parsers do that. It would make sense for the zig parsers since it already only specialized on nvim-treesitter.

It could be done here https://github.com/theHamsta/nvim-treesitter/blob/f7422402ca675b753ab404ebb8d1a79300e988c3/.github/workflows/update-parsers-pr.yml#L36 before the workflow creates a PR. But maybe just having a

[2021-06-03 22:40] mizlan opened #19 "Rationale behind identifier/selector"
Hi, I was a bit confused by the tree generated by the following code:

[code]

The `arguments` node for `f` contains the following, when dumped using [Neovim's treesitter playground](https://github.com/nvim-treesitter/playground):

[code]

As you can see, it looks like there are two arguments to this function. Indeed, the identifier-selector as sibling nodes without a containing parent node happen

[2021-06-03 22:43] mizlan commented on #19
For reference, I have a plugin that allows for arbitrary children of an `arguments` node to be swapped ([relevant thread here](https://github.com/mizlan/iswap.nvim/pull/10)) but this identifier/selector behavior is interfering with the identification of function arguments.

[2021-06-03 23:53] TimWhiting commented on #19
This is because a selector is not part of an identifier. This grammar tries to mimic the official dart spec as much as possible to make it easier to maintain, but I agree that it would make sense to group those nodes under another meta node. Feel free to take a look at the grammar and submit a pull request. I can't guarantee that I have time to look at it /change it right away, but I could probabl

[2021-06-04 12:47] akinsho commented on #19
Hi @TimWhiting well since I basically started this whole train off with my PR to the `iswap.nvim` I can look into contributing the necessary changes to the grammar. I'd really appreciate a bit of advice on how to proceed though since I've had a look through the grammar and am not really sure how to make the change?

Would this be scoped to all nodes that have a selector where the selector is treat

[2021-06-04 15:36] TimWhiting commented on #19
In general arguments will be some type of expression. Currently all expression types are hidden nodes, because they can get quite deeply nested. I've added an argument node underneath arguments. So now it can either be argument or named_argument underneath arguments, and the argument / named argument encapsulates the expression. I'm guessing there are other places in the grammar where the expressi

[2021-06-04 15:41] TimWhiting commented on #19
I'll leave this issue open since I believe there are other places in the grammar that just use `$._expression` which is hidden, and could use more contextual information exposed in the tree. @akinsho, thanks for the offer, please feel free to improve the grammar and submit PRs.

[2021-06-04 16:30] akinsho commented on #19
@TimWhiting thanks a bunch for adding that 👍🏾 I'll have a look to see if I encounter any other areas that require similar treatment and use the example of your commit if I find any.

[2021-06-04 16:37] mizlan commented on #19
One other problem area may be in vector/array literals and other data
structure literals. Haven't taken a look firsthand but that may potentially
be an issue.

On Fri, Jun 4, 2021 at 9:31 AM Akin ***@***.***> wrote:

[2021-06-04 18:14] #1 closed

[2021-07-21 16:09] RobertBrunhage opened #20 "Indentation not working correctly"
I am using the indentation from treesitter and in dart files the indentation doesn't seem to work at all.

for example when making a `Container` in Flutter this happens.

[code]

Instead of

[code]

Not sure where to turn for these kind of issues, so sorry if this is the wrong place to make an issue :)

[2021-07-21 16:17] akinsho commented on #20
@RobertBrunhage I think the best place to raise this is actually https://github.com/nvim-treesitter/nvim-treesitter, that's where the queries for how indentation is handled are actually defined and managed. There aren't many contributors for dart, it's primarily just myself with help from the nvim-treesitter team, but it was actually someone else who added the indentation I haven't looked at the q

[2021-07-21 16:21] theHamsta commented on #20
Indentation is right now a very experimental feature. It does work correctly in all cases

[2021-07-21 16:47] RobertBrunhage commented on #20
Thanks both of you for taking the time, I will open an issue on https://github.com/nvim-treesitter/nvim-treesitter!

What is your current approach for handling this, as I seem to get this kind of indentation working (even without using treesitter).

[2021-07-21 17:02] RobertBrunhage commented on #20
Also putting the issue here in case someone else comes across this: https://github.com/nvim-treesitter/nvim-treesitter/issues/1612

[2021-07-22 11:07] akinsho commented on #20
@RobertBrunhage https://github.com/dart-lang/dart-vim-plugin is the old school/non-tree-sitter based plugin for dart, it provides indentation, opening package files by pressing `gf` on imports as well as syntax highlighting. You can use it at the same time as treesitter and it will provide working indentation, the tradeoff is both it and treesitter will apply highlighting, tbh in practice it reall

[2021-07-22 11:33] RobertBrunhage commented on #20
@akinsho Yeah I used that before moving to using the built in LSP and now that gives the following indentation haha
![image](https://user-images.githubusercontent.com/26344867/126632689-047abb65-a0a2-46b7-bb16-19a8d0e193c4.png)

[code]

[2021-07-22 11:37] akinsho commented on #20
@RobertBrunhage maybe this has to do with the plugin you are using for autopairs. I use `nvim-autopairs` and when I press enter inside `Container(|)` it produces
[code]

[2021-07-22 11:47] RobertBrunhage commented on #20
@akinsho Using that one as well and noticed that even `if` cases does this for me. Seems to do this also without an auto pairs plugin.

![image](https://user-images.githubusercontent.com/26344867/126633828-6b4e8c76-ca64-4ecd-b153-dfa21e0461cc.png)

[2021-07-22 11:49] akinsho commented on #20
Yeah I can reproduce that one using treesitter indentation. Not sure of a fix though.

[2021-07-23 05:36] RobertBrunhage commented on #20
Thanks for taking the time @akinsho! Will see if I can solve it some way,

will close this issue as I opened it on the treesitter repo 😊

[2021-07-23 05:36] #20 closed

[2021-08-07 13:25] jcs090218 opened #21 "Error when build"
I am trying to use this package to the editor but I am getting the following build error. 😕 Any idea?

[code]

[2021-08-07 14:49] TimWhiting commented on #21
This is not a build error, these are failing tests due to not supporting the full dart spec. these particular pieces of the dart grammar are very difficult to handle which is why it has been hard for us to fix these tests. Any contributions are welcome.

[2021-09-04 13:40] ybbond opened #22 "Don't detect Dollar Sign ($) as Part of String on Brace-less Interpolation"
## Summary

Pressing neovim's asterisk `*` or pound `#` to search word will exclude variable interpolated in String.

## Example

[code]
given that example, the highlighted will only be the one in `issuesURL`.

## Expected Result

Dollar sign with brace-less String interpolation don't detected as part of the String.

[2021-09-04 18:28] akinsho commented on #22
@ybbond I believe this is probably not the correct place for this issue. The commands you are referring to are neovim commands and I don't believe that they are currently actually connected to treesitter i.e. they work using some much older vim mechanism that pre-dates treesitter unless you installed a plugin for this. This repository is a general repository for the tree sitter dart grammar and is

[2021-09-06 17:22] ybbond commented on #22
hi @akinsho thank you for your reply.

my reason to assume that this is something to do with treesitter parser is that if I test the same in a string of a `*.lua` file, the behavior is different.

### Demo on Dart String

https://user-images.githubusercontent.com/25895873/132248632-926ee162-7420-4a8e-8a86-4f7affb42661.mov

### Demo on Lua string

https://user-images.githubusercontent.com/25895873/

[2021-09-06 17:50] akinsho commented on #22
@ybbond it's more likely that this is because of how vim is determining what is a part of a string using `iskeyword` in either case as long as `*` and `#` aren't mapped to some treesittter based plugin I don't believe this issue belongs here and tbh even if it was treesitter based it would be better to put this issue in `nvim-treesitter` as the issue would very likely relate to nvim treesitter not

[2021-09-07 02:10] ybbond commented on #22
@akinsho hey, thank you for explaining twice.

I missed the point from your first reply that this repository is not NeoVim specific (that may be used for treesitter implementation in other editor such as Sublime Text).

I will take some time to compose wording for nvim-treesitter issue, mentioning insights I got from you too (probable `iskeyword` implementation)

good day :D

[2021-09-22 14:35] ybbond commented on #22
as per suggested, I reported this issue in https://github.com/nvim-treesitter/nvim-treesitter/issues/1850

[2021-12-07 06:26] genesistms opened #23 "Long parse time for `for_statement`"
I've got a problem inside neovim that opening dart file took a very long time. After some debugging i found that trying to parse dart file with this query is the problem:

[code]

But this one is ok:
[code]

And it does not matter what is inside dart file, it can be empty.

[code]

[code]

[2021-12-07 06:45] theHamsta commented on #23
@maxbrunsfeld we're experiencing a slow down in loading certain queries for various parsers with 0.20.1 vs 0.20.0. What would be the best steps to investigate what's going on?

[2021-12-07 07:51] GenesisTMS commented on #23
Does tree-sitter have some kind of debug flag to get any additional info?

[2021-12-07 08:15] theHamsta commented on #23
You can try to build release with debug symbols and run a sampling profiler on it. But it will only report on a per-function basis. You can use nvtx to annotate certain fractions of the code when you profile with night-systems

[2021-12-07 10:25] theHamsta commented on #23
@maxxnino @connorlay this is the simplest reproducer for this that we had until now

[2021-12-07 17:59] maxbrunsfeld commented on #23
Thanks for the report; this is definitely a problem, and a good reproduction case.

I don't think the fix is very complex, but I may need a few days before I have the focused time to work on it.

[2021-12-07 18:01] maxbrunsfeld commented on #23
As a side question @theHamsta: Neovim should really only be loading these queries once per language  - is that already the case, or is the query loading currently happening repeatedly?

[2021-12-07 18:24] theHamsta commented on #23
We discovered that the loading of the highlight/injection queries is indeed happening repeatedly (indent, folding and textobject queries are cached and I thought that someone also fixed this in core). I wanted to fix this this weekend.

[2021-12-08 22:10] maxxnino commented on #23
In the past, when I built query for highlights. It got slower and slower when more node inside a node too. At that time, I used tree sitter 0.20.0. My parser use recursion alot too. Maybe it cause hanging in some machine. I just don't know 😩

[2021-12-10 06:19] maxbrunsfeld commented on #23
I think this may be fixed by the latest Tree-sitter commit: https://github.com/tree-sitter/tree-sitter/commit/25f64e1eb66bb1ab3eccd4f0b7da543005f3ba79. Could someone build Neovim with this commit of Tree-sitter and take it for a spin?

[2022-03-20 18:31] Wilfred opened #24 "Syntax highlighting is broken due to assuming assignable_selector exists"
As of 7d7fa53d4a9cabf9fee2f8b5d32cb7a4caf82704, `assignable_selector` is no longer in the parse tree. However, the highlights.scm contains this:

https://github.com/UserNobody14/tree-sitter-dart/blame/6a25376685d1d47968c2cef06d4db8d84a70025e/queries/highlights.scm#L121-L122

When I try to load queries.scm with tree-sitter, I get an error:

[code]

Not sure what the best solution here is: either re

[2022-03-24 05:16] Wilfred opened #25 "+= operator is confused with ="
Given the following snippet:

[code]

This assignment is parsed as:

[code]

Note that it thinks that the operator is `=`, and only gives it a width of one character.

[2022-04-01 03:04] the-mikedavis opened #26 "adding a license"
👋 hello!

Would you consider adding a license? MIT is most common for tree-sitter grammars but for the sake of packaging, just about any license will do. (Disclaimer: I am not a lawyer)

Thanks!

[2022-04-07 01:18] hanywang2 commented on #26
Added license in #27

[2022-05-07 17:16] #26 closed

[2022-05-07 17:18] UserNobody14 commented on #25
Hmmm. I wonder if this has anything to do with how it treats hidden characters, strings and such. Lemme check it out

[2022-05-07 17:19] #22 closed

[2022-05-07 17:19] #21 closed

[2022-05-21 21:48] UserNobody14 commented on #25
Figured it out, the issue was that the shortcut I used meant the _was hiding one part of the assignment selector, but not the others.
[code]

I changed it to the simpler:
[code]
Let me know if you have any more issues!

[2022-05-21 21:48] #25 closed

[2022-05-21 21:50] UserNobody14 commented on #15
This issue should be fixed on the latest version!
![image](https://user-images.githubusercontent.com/38988442/169670023-77e0f0a3-4019-41f6-9bbc-55d186d9155a.png)

[2022-05-21 21:50] #15 closed

[2022-05-21 21:50] UserNobody14 commented on #7
Finally managed to fix this using the lexer! Nested multiline comments are good to go!

[2022-05-21 21:50] #7 closed

[2022-05-21 21:52] UserNobody14 commented on #24
Fixed! I just updated the highlighter, I think it still looks fine.

[2022-05-21 21:52] #24 closed

[2022-05-26 07:55] D00mch opened #28 "Crash on dart files withtout semicolons at the end"
Described in main treesitter repo [issue](https://github.com/nvim-treesitter/nvim-treesitter/issues/2961) (treesitter should not crash anyway), but seems to deserved being mention here too.

### To Reproduce
- Create empty file;
- Run :set ft=dart;
- Write any symbol except semicolon.

[2022-05-29 15:56] Mofiqul opened #29 "Segmentation Fault and crashed neovim"
Crashing neovim completely, Segmentation Fault (Core dumped).

[2022-05-31 02:46] rlch commented on #29
+1, I can replicate when attempting to type at the bottom of the file.

[2022-05-31 04:36] GenesisTMS commented on #29
Related open issue in neovim

https://github.com/nvim-treesitter/nvim-treesitter/issues/2972

**Workaround**
For now add this commit
[code]
to `lockfile.json` in [nvim-treesitter plugin](https://github.com/thmsmlr/nvim-treesitter/blob/47259fb32cfa4f362014bbe62e071530ab0e0317/lockfile.json#L48). And `TSInstall dart`

[2022-05-31 04:50] GenesisTMS commented on #23
Update

[code]
[code]

It is still almost a second on empty file.

[2022-06-01 09:57] Kavantix commented on #29
The issue is in `scanner.c` somewhere, reverting it to the version at `f95876f0ed3ef207bbd3c5c41987bc2e9cecfc97` fixes the crash

[2022-06-06 08:09] RobertBrunhage commented on #29
I made a quick fork where I changed the version (feel free to use it until it's fixed) https://github.com/RobertBrunhage/nvim-treesitter

[2022-06-06 19:04] CarlosNihelton commented on #29
Just creating an empty dart file and adding one non-white-space character without a trailing semicolon is enough to cause the segmentation fault. If we write the semicolon first and then insert anything before it the parser won't crash.

As simple as this:

` printf "p" > konstant.dart && nvim konstant.dart`  => [SIGSEV]

` printf "p;" > konstant.dart && nvim konstant.dart` => [works just fine]

[2022-06-08 23:36] VanessaHenderson opened #30 ""Get and Set Identifiers" test?"
Hi there!
I'm looking at seeing if we can leverage this project to add Dart as a supported language in Semgrep. I noticed that in the declarations.txt file in the test folder, there is a test for [Get and Set Identifiers](https://github.com/UserNobody14/tree-sitter-dart/blob/master/test/corpus/declarations.txt#L623).
It is trying to set _count and _root on an instantiated Set object, but since the

[2022-06-09 20:03] Kavantix commented on #29
@UserNobody14 I've played around a bit with the scanner and the only way so far I have been able to prevent a segfault without a semi colon at the end is by changing the last `return false;` in `tree_sitter_dart_external_scanner_scan` to `return lexer->lookahead == '\0'`.
This however really sounds like a bug in tree sitter itself we stumbled upon, or it could even be in the grammar.

[2022-06-09 22:00] UserNobody14 commented on #30
That test is based on files we found while scanning through various dart codebases, mostly flutter, wherein we found issues with variables and identifiers that were named "get" or "set". I've just recently redone these scans and didn't run across any of those issues, so it's possible it was just a bug in the core dart compiler that allowed those variables to be named that. At any rate, the test wa

[2022-06-09 23:07] VanessaHenderson commented on #30
Ahhh, okay that makes a lot of sense! From what I can tell, Dart still allows variable names as "set" and it'll still compile (I created a dummy class but named the variable set), but yes the Parser does still show the error. In the spec  set and get aren't reserved words, I wonder if that'll change in the future.

Interesting issue for sure!

[2022-06-09 23:08] #30 closed

[2022-06-10 00:58] CarlosNihelton commented on #29
Hey! I don't have idea of why, but it worked for me as well!
@UserNobody14 is this a real fix or would it be just masking some other issue?
Unfortunately the commit that introduced the bug is very big to allow attempts to fix it without a deep understanding of tree-sitter and Dart language specification.

[2022-06-11 20:08] UserNobody14 commented on #29
Let me try adding that fix and running the grammar on a large list of files again, as far as I know it shouldn't cause a big issue. If it works, I'll merge it

[2022-06-11 21:28] UserNobody14 commented on #29
Hmmm. After looking into the problem I can't seem to either replicate it or get the solution you posted to work with our tests. I don't have neovim setup with dart, so I tried running all of the tests I traditionally use, like parsing files and such. Sadly I was not able to recreate any of these issues, which I believe indicates it only happens on reruns of the grammer. Unfortunately without an ea

[2022-06-11 23:41] theHamsta commented on #29
You don't need a Neovim setup. Just let the tree-sitter parser run https://github.com/ikatyang/tree-sitter-markdown/issues/14 (CC needs to be clang and python in the script python2). I've provided sample inputs that let the parser crash in the original issue, but I would recommend running the fuzzer (maybe even on CI)

[2022-06-11 23:46] theHamsta commented on #29
If this is really a bug in tree-sitter, you could have a look at our open issue with tree-sitter-prisma which crashes without a custom parser @Kavantix . There is even a closed issue for tree-sitter-pug which hd the same issue that could be fixed by a check for `\0`

[2022-06-12 09:16] Kavantix commented on #29
@theHamsta could you link the issues you mentioned?

@UserNobody14 I reproduced it by running tree-sitter highlight on a file containing a few random characters and no semicolon at the end. E.g. `dhdh`. So no need for using vim while testing

[2022-06-13 22:04] theHamsta commented on #29
@Kavantix here you go: https://github.com/nvim-treesitter/nvim-treesitter/issues/2972#issuecomment-1141491120

[2022-07-07 06:24] amit-ug commented on #29
Is the current workaround is the one offered by @GenesisTMS , to revert to SHA f95876f0ed3ef207bbd3c5c41987bc2e9cecfc97 of this repo?

This is a manual step so all new users of Neovim + TS + Dart will have to perform it on their own.
Would it be possible to revert the changes done on this repo to that SHA instead?

https://github.com/nvim-treesitter/nvim-treesitter/issues/2972 which was referenced

[2022-07-07 10:48] Kavantix commented on #29
Changing the scanner to always return false immediately gives the same crash, so it is not because of the scanner

[2022-07-07 10:48] vigoux commented on #29
Now that's interesting...

[2022-07-08 10:46] rphuber commented on #29
Any chance to revert back to the working commit until the problem is solved?

[2022-07-11 05:43] Wilfred commented on #25
Thanks! :)

[2022-07-11 22:06] ayoubelmhamdi commented on #29
The problem is solved for me after removing the `nvim-treesitte`  then reinstall it by:
[code]

-- and the config for `tree-sitter` is:
[code]

[2022-07-13 19:54] theHamsta commented on #29
nvim-treesitter now uses an older working version for now: https://github.com/nvim-treesitter/nvim-treesitter/commit/d99b4cdd7591ab2e3ff3f962f7cc518908375805

[2022-07-13 22:45] theHamsta commented on #29
@ahelwer  Can't count how often I linked this post https://github.com/ikatyang/tree-sitter-markdown/issues/14#issue-725850717

[2022-07-16 09:09] kyazdani42 commented on #29
@theHamsta maybe we could host a wiki page for this, although the comment is good, debugging the error is a bit more complicated than just running the fuzzer :)

[2022-07-23 18:42] theHamsta commented on #29
Ideally such a documentation is contributed to tree-sitter upstream. On how to create safe, fuzzed parsers.

[2022-07-24 11:30] kyazdani42 commented on #29
I guess so. I will look at this next week

[2022-08-01 22:21] UserNobody14 commented on #29
Alright I got a commit working with @Kavantix 's highlight dhdh file as well as @vigoux 's "weird file" test (thanks btw!). Unfortunately it's still hard for me to be sure it won't crash again. Let me know if it keeps happening with the latest changes.

I'm not a genius user of scanner.c, sadly, I just kinda copied and pasted from various other tree sitter repos until I got it working. If anyone k

[2022-08-01 23:15] theHamsta commented on #29
Seems to be ok now. Fuzzed for 30mins.

[2022-08-02 02:42] fitrh commented on #29
I can confirm that this issue has been fixed on neovim, although it seems that the speed for the first load is back to normal (before a0b6e848aa9edcea86eff445dfcae02f47e4d580, there was a speed improvement)

[2022-08-02 03:14] ayoubelmhamdi commented on #29
also, the flutter project does not crash now for me

[2022-08-02 04:35] #29 closed

[2022-08-05 20:52] BenceBakos commented on #29
For me the issue is persists:
[code]
(NVIM v0.7.2)

Unfortunatelly,
https://github.com/RobertBrunhage/nvim-treesitter
did not solved the issue.

[2022-08-31 07:59] Kavantix commented on #29
For me the crash still happens on 53485a8f301254e19c518aa20c80f1bcf7cf5c62

[2022-10-04 16:16] TzviPM opened #36 "Consider generating the grammar.js from the official language spec"
Would you be open to a contribution that generates the grammar.js from the .tex file of the official specification in the dart/language repo?

[2022-10-04 17:31] TimWhiting commented on #36
I think that would be great if it works well. I can help review. However note that this might be difficult since the tree sitter grammar is a different sort of grammar.

[2022-10-04 17:52] TzviPM commented on #36
That makes sense. The main thing we could run into is the deep nesting discussed at https://tree-sitter.github.io/tree-sitter/creating-parsers#structuring-rules-well. I think this can be avoided by having rules that solely exist as choices between non-terminal simply not appear in the AST.

[2022-10-12 18:11] UserNobody14 commented on #29
Can anyone provide a test or a specific file that crashes? I've tested it with empty files and files with a single variable but no dice.

[2022-10-12 19:59] theHamsta commented on #29
[code]

[2022-10-12 19:59] theHamsta commented on #29
[crash-6b5a6e5f767759c97ee0cb4ff08b35c32f40b808.txt](https://github.com/UserNobody14/tree-sitter-dart/files/9768321/crash-6b5a6e5f767759c97ee0cb4ff08b35c32f40b808.txt)

[2022-10-12 20:09] theHamsta commented on #29
It does not seem to crash when just using the fuzzer to parse. Just when the fuzzer script also tries to query using `highlight.scm`

[2022-10-12 21:27] maxbrunsfeld commented on #29
If you can find a minimal query and source file that reproduces the error (via the `tree-sitter query` CLI command), could you open a Tree-sitter issue?

[2022-11-21 01:00] victorlacorte opened #37 "Folds query"
Sorry if this repo is not the place to ask the following, but could we add a `queries/folds.scm` to improve nvim-treesitter folding? Right now, since there isn't such file, we are falling back to the @scope captures in the locals query and folding capabilities are limited.

[2022-11-21 11:09] victorlacorte commented on #37
Thank you, @akinsho! I'll do that and close this issue.

[2022-11-21 11:09] #37 closed

[2022-11-21 15:07] lukepighetti opened #38 "Enhanced enums break highlighting"